<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PlentyKoko</title>
    <link rel="icon" 
      type="image/png" 
      href="static/img/logopk.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/e553fa5b77.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Prata&family=Quicksand:wght@300&display=swap" rel="stylesheet">
   
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/templatemo-style.css" />
  </head>

  <body>
   
      <div>
        <div style="background-color: #fb8353; width: 100%; height: 37px; color: white; text-align: right; padding-right: 5px;">
          Online fashion boutique</div>
        <nav class="navbar navbar-expand-lg" style="background-color: #f2e8c9;height: 120px;">
          <!--  Show this only on mobile to medium screens  -->
          <div class="row">
            <div class="col-9">
            <a class="navbar-brand d-lg-none " href="/"><img src="static/img/LOGONAV.jpeg"  style="width: 70%;"></a>
          </div>
          <div class="col text-center">
            <button class="navbar-toggler" style="margin-top: 31px;" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-grip-horizontal"></i>
            </button>
          </div>
          </div>
          <!--  Use flexbox utility classes to change how the child elements are justified  -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
          
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/" style="color: black;">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catalogo" style="color: black;">Catálogo</a>
                </li>
            
              </ul>
              
              
          <!--   Show this only lg screens and up   -->
              <div class="navbar-brand d-none d-lg-block justify-content-center" style="text-align: center; width: 100%; display: block; margin: auto;" href="/">
                <img src="static/img/LOGONAV.jpeg" class="justify-content-center" style="width: 50%;">
              </div>
              
              
              
              <ul class="navbar-nav" style="padding-left: 7%; padding-right: 1%;">
                <li class="nav-item">
                  <a class="nav-link" href="/contacto" style="color: black;">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/QnA" style="color: black;">QnA</a>
                </li>
              
              </ul>
            </div>
          </nav>
          

            <div data-image-src="static/img/test.GIF" style="background-image: url('static/img/test.GIF')">
              <div class="w3-row-padding" style="margin:auto; width: 99%;">
                {% set dev = namespace(value=0)  %}
              {% for ob in data %}
              {% if dev.value | int == 3 %}
                <div class="w3-row-padding" style="margin:auto;  width: 95%">
                </div>
                {% set dev.value = 0 %}
              {% endif %}
              <div class="w3-third w3-container w3-margin-bottom" style="color:black; height: 100%; margin: auto; text-align: center; margin-bottom: 10%; margin-top: 10%;">
                <img src="static/img/catalogo/{{ob.4}}" alt="" style="width:70%; height: 70%; margin: auto;"class="w3-hover-opacity">
                <div class="w3-container ">
                  <p style="font-weight: 900;"><b>{{ob.1}}</b></p>
                  <p style="font-weight: 600;">${{ob.3}}</p>
                </div>
              </div>
                {% set dev.value = dev.value + 1 %}
              {% endfor %}
            </div>
            </div>

        <!-- Page footer -->
        <footer class="row" style="background-color: #f2e8c9; ">
          <div class="row" style="padding-left: 10%;margin-top: 5%;">
            <div class="col"><strong style="word-wrap: break-word;
              font-family: monserrat,sans-serif,bold;
              font-size: 50px;">
              Follow
              <br>
              Us —
            </strong>
          <div><a href="https://www.instagram.com/plentykoko/?hl=es-la" style="color: black;"><em>@PlentyKoko</em></a></div>
          <nav class="mb-1 navbar navbar-expand-lg">
          <ul class="navbar-nav" style="flex-direction: row;">
            <li class="nav-item" style="margin: 2%">
              <a class="nav-link waves-effect waves-light" style="color: black;" href="https://www.facebook.com/plentykoko/">
                <i class="fab fa-tiktok"></i>
              </a>
            </li>
            <li class="nav-item" style="margin: 2%">
              <a class="nav-link waves-effect waves-light" style="color: black;" href="https://www.facebook.com/plentykoko/">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item" style="margin: 2%">
              <a class="nav-link waves-effect waves-light" style="color: black;" href="https://www.instagram.com/plentykoko/?hl=es-la">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </nav>


          </div>
            <div class="col-9">
             <a href="https://www.instagram.com/plentykoko/?hl=es-la"> <img src="static/img/instaPK.jpg" style="width: 97%;"></a>
            </div>
          </div>
          <p class="col-12  text-center tm-copyright-text">
            Copyright &copy; 2021 PlentyKoko
            
          </p>
        </footer>
      </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal().reveal('.w3-third');
    
    
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    
    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
 
  </body>
</html>
