<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PlentyKoko</title>
    <link rel="icon" 
      type="image/png" 
      href="static/img/logopk.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />

    <script src="https://kit.fontawesome.com/e553fa5b77.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Prata&family=Quicksand:wght@300&display=swap" rel="stylesheet">
   
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

    .bg-img {
  /* The image used */
  background-image: url("static/img/lv1.jpg");

  min-height: 480px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.containerW {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 700px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

</style>

<link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/templatemo-style.css" />
   
  </head>
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
  <body id="servicesPage">
    <div class="parallax-window" data-parallax="scroll">
      <div>
        <div style="background-color: #fb8353; width: 100%; height: 37px; color: white; text-align: right; padding-right: 5px;">
          Online fashion boutique</div>
        <nav class="navbar navbar-expand-lg" style="background-color: #f2e8c9;height: 120px;">
          <!--  Show this only on mobile to medium screens  -->
          <div class="row">
            <div class="col-9">
            <a class="navbar-brand d-lg-none " href="/"><img src="static/img/LOGONAV.jpeg"  style="width: 70%;"></a>
          </div>
          <div class="col text-center">
            <button class="navbar-toggler" style="margin-top: 31px;" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-grip-horizontal"></i>
            </button>
          </div>
          </div>
          <!--  Use flexbox utility classes to change how the child elements are justified  -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
          
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/" style="color: black;">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catalogo" style="color: black;">Catálogo</a>
                </li>
            
              </ul>
              
              
          <!--   Show this only lg screens and up   -->
              <div class="navbar-brand d-none d-lg-block justify-content-center" style="text-align: center; width: 100%; display: block; margin: auto;" href="/">
                <img src="static/img/LOGONAV.jpeg" class="justify-content-center" style="width: 50%;">
              </div>
              
              
              
              <ul class="navbar-nav" style="padding-left: 7%; padding-right: 1%;">
                <li class="nav-item">
                  <a class="nav-link" href="/contacto" style="color: black;">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/QnA" style="color: black;">QnA</a>
                </li>
              
              </ul>
            </div>
          </nav>

        <!-- Testimonials header -->
        <section class="row" id="tmServices">
          <div class="col-12">
            <div class="parallax-window tm-services-parallax-header tm-testimonials-parallax-header"
                 data-parallax="scroll"
                 data-z-index="101"
                 data-image-src="static/img/ysl.jpg">

                 <div class="tm-bg-black-transparent text-center tm-services-header tm-testimonials-header">
                    <h2 class="text-uppercase tm-services-page-title tm-testimonials-page-title">¿Quieres contactarme?</h2>
                    <p class="tm-services-description mb-0 small">
                       Envía un correo o mensaje a cualquiera de nuestras redes sociales.
                    </p>
                </div>
            </div>
          </div>   
        </section>

     
          <div class="bg-img">
            <form action="/action_page.php" class="containerW">
              <h1>¡Contáctame!</h1>
            <div style=" display: inline-block;">
              <label for="nameU"><b>Nombre</b></label>
              <input type="text" placeholder="Tu nombre" name="nameU" id="nameU" required>
            </div>
            <div style=" display: inline-block;">
              <label for="email"><b>Correo</b></label>
              <input type="email" placeholder="Tu Correo" name="email" id="email" required>
            </div>
            <div style=" display: block;">
              <label for="mensaje"><b>Mensaje</b></label>
              <textarea id="mensaje" name="mensaje" rows="4" cols="50">Escribe aquí tu mensaje </textarea>
            </div>
          
              <button type="submit" class="btn">Enviar</button>
            </form>
          </div>
  

        <!-- Page footer -->
        <footer class="row" style="background-color: #f2e8c9; ">
          <div class="row" style="padding-left: 10%;margin-top: 5%;">
            <div class="col"><strong style="word-wrap: break-word;
              font-family: monserrat,sans-serif,bold;
              font-size: 50px;">
              Follow
              <br>
              Us —
            </strong>
          <div><a href="https://www.instagram.com/plentykoko/?hl=es-la" style="color: black;"><em>@PlentyKoko</em></a></div>
          <nav class="mb-1 navbar navbar-expand-lg">
          <ul class="navbar-nav" style="flex-direction: row;">
            <li class="nav-item" style="margin: 2%">
              <a class="nav-link waves-effect waves-light" style="color: black;" href="https://www.facebook.com/plentykoko/">
                <i class="fab fa-tiktok"></i>
              </a>
            </li>
            <li class="nav-item" style="margin: 2%">
              <a class="nav-link waves-effect waves-light" style="color: black;" href="https://www.facebook.com/plentykoko/">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item" style="margin: 2%">
              <a class="nav-link waves-effect waves-light" style="color: black;" href="https://www.instagram.com/plentykoko/?hl=es-la">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </nav>


          </div>
            <div class="col-9">
             <a href="https://www.instagram.com/plentykoko/?hl=es-la"> <img src="static/img/instaPK.jpg" style="width: 97%;"></a>
            </div>
          </div>
          <p class="col-12  text-center tm-copyright-text">
            Copyright &copy; 2021 PlentyKoko
            
          </p>
        </footer>
      </div>
      <!-- .container-fluid -->
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/slick/slick.min.js"></script>
    <script>
        $(function(){
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();  
            $('.tabs a').click(function(e){
              e.preventDefault();
              var $this = $(this),
                  tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
              others.removeClass('active');
              $this.addClass('active');
              $(tabgroup).children('div').hide();
              $(target).show();

              // Scroll to tab content (for mobile)
              if($(window).width() < 992) {
                  $('html, body').animate({
                      scrollTop: $("#first-tab-group").offset().top
                  }, 200);    
              }              
            })

            $('.tm-carousel').slick({
                dots: true,
                  infinite: false,
                  arrows: false,
                  speed: 300,
                  slidesToShow: 3,
                  slidesToScroll: 2,
                  responsive: [
                    {
                      breakpoint: 1024,
                      settings: {
                          arrows: false,
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                      }
                    },
                    {
                      breakpoint: 600,
                      settings: {
                          arrows: false,
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                          arrows: false,
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                  ]
            });  
        });
    </script>
  </body>
</html>